name: Sequential Self-Hosted Workflow

on:
  push:
  workflow_dispatch: # 允许手动触发

permissions:
  contents: read
  actions: read

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: job1-step1
        run: echo "job1-1"

      - name: job1-step2
        run: echo "job1-2"

  job2:
    runs-on: ubuntu-latest
    needs: job1 # 依赖 job1，确保 job1 完成后再执行 job2
    steps:
      - name: job2-step1
        run: echo "job2-1"

      - name: job2-step2
        run: echo "job2-2"

  otel-cicd-action:
    runs-on: ubuntu-latest
    if: always()
    name: OpenTelemetry Export Trace
    needs: [job1, job2] # must run when all jobs are completed
    steps:
      - uses: actions/checkout@v4
      - name: Export workflow
        uses: hydewww/otel-cicd-action@main
        with: 
          githubToken: ${{ secrets.GH_TOKEN }}
        env:
          OTEL_CONSOLE_ONLY: "true"
